@charset "UTF-8";
/*-- PCグローバル変数 --*/
/*-- PC共通extend --*/
/* movieArea リスト */
.darutanyan_movieArea__listItem, .rushifa_movieArea__listItem {
  position: relative;
  display: block;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 33%;
  -ms-flex: 0 0 33%;
  flex: 0 0 33%;
  width: 33.33%; }

/* movieArea リストリンク */
.darutanyan_movieArea__listItemLink01, .darutanyan_movieArea__listItemLink02, .darutanyan_movieArea__listItemLink03, .rushifa_movieArea__listItemLink01, .rushifa_movieArea__listItemLink02, .rushifa_movieArea__listItemLink03 {
  width: 100%;
  height: 100%;
  border: 1px solid #fff;
  border-right: 0;
  padding-top: 62%;
  display: block;
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

/* movieArea newIcon */
.darutanyan_movieArea__itemImgNewIcon, .rushifa_movieArea__itemImgNewIcon {
  display: block;
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
  background: url("../img/pc/new.png") left top repeat;
  width: 51px;
  height: 82px;
  position: absolute;
  bottom: 1px;
  right: 15px; }

/* introductionArea image */
.darutanyan_introductionArea__imgDarutanyan01, .darutanyan_introductionArea__imgDarutanyan02, .rushifa_introductionArea__imgRushifa01 {
  background-size: 100%;
  background-position: center top;
  background-repeat: no-repeat;
  width: 480px;
  height: 140px;
  margin: 60px auto 0; }

/*-- PC共通mixin --*/
/* kvArea */
/* movieAreaItem */
/* introductionArea */
/* stafCastArea */
/* shareBtn */
/* navMenuItem */
/*-- style適用 --*/
body {
  overflow-y: scroll; }

/*-- loading --*/
.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f1f1f1;
  z-index: 500;
  display: none; }
  .loading__logo {
    background: url("../img/logo_loading.png") center no-repeat;
    background-size: 320px 107px;
    width: 320px;
    height: 107px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-indent: -100%; }

/*-- header --*/
.header {
  padding: 40px 0;
  min-height: 1px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%; }
  .header__logo {
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
    background: url("../img/logo.png") left top no-repeat;
    background-size: 162px 60px;
    width: 162px;
    height: 60px;
    display: block;
    float: left;
    margin: 0 0 0 34px; }
  .header__menu {
    background: #ddd;
    border-radius: 100px;
    width: 45px;
    height: 45px;
    float: right;
    margin: 0 40px 0 0;
    pointer-events: auto; }
  .header__menuOpen {
    display: block;
    background: url("../img/menu.png") center no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100%; }
  .header::after {
    content: " ";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden; }

/*-- mixin kvArea --*/
/* ダルタニャン kv */
.darutanyan_kvArea {
  position: relative;
  background: url("../img/pc/darutanyan/main_v01.jpg") center no-repeat;
  background-size: 100%;
  background-size: cover;
  display: block;
  width: 100%;
  height: auto;
  max-height: 750px;
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
  padding-top: 50%; }
  .darutanyan_kvArea__title {
    text-indent: -100%; }
  .darutanyan_kvArea__newsArea {
    position: absolute;
    bottom: 0;
    right: 0;
    background: url("../img/pc/darutanyan/header_news_bg.png") bottom left no-repeat;
    width: 609px;
    height: 310px;
    background-size: 609px 230px;
    padding: 0 0 0 200px; }
  .darutanyan_kvArea__newsAreaTxt {
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
    background: url("../img/pc/darutanyan/header_news_txt01.png") left top no-repeat;
    background-size: 100%;
    display: block;
    width: 354px;
    height: 310px;
    /* 0621の時の「制作の都合により〜の文言」が長いため調整用のcss */
    position: relative;
    top: 4px; }

/* ルシファー kv */
.rushifa_kvArea {
  position: relative;
  background: url("../img/pc/rushifa/main_v02.jpg") center no-repeat;
  background-size: 100%;
  background-size: cover;
  display: block;
  width: 100%;
  height: auto;
  max-height: 750px;
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
  padding-top: 50%; }
  .rushifa_kvArea__title {
    text-indent: -100%; }

/*-- mixin movieAreaItem --*/
/* ダルタニャン movieArea */
.darutanyan_movieArea__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%; }

.darutanyan_movieArea__listItemLink01 {
  background-image: url("../img/pc/darutanyan/darutanyan_banner00.jpg");
  border-left: 0; }

.darutanyan_movieArea__listItemLink02 {
  background-image: url("../img/pc/darutanyan/darutanyan_banner01_off.jpg"); }
  .darutanyan_movieArea__listItemLink02:hover {
    background-image: url("../img/pc/darutanyan/darutanyan_banner01_on.jpg");
    background-size: cover; }

.darutanyan_movieArea__listItemLink03 {
  background-image: url("../img/pc/darutanyan/darutanyan_banner02_off.jpg");
  border-right: 1px; }
  .darutanyan_movieArea__listItemLink03:hover {
    background-image: url("../img/pc/darutanyan/darutanyan_banner02_on.jpg");
    background-size: cover; }

/* ルシファー movieArea */
.rushifa_movieArea__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%; }

.rushifa_movieArea__listItemLink01 {
  background-image: url("../img/pc/rushifa/movie_num_1_off.jpg");
  border-left: 0px; }
  .rushifa_movieArea__listItemLink01:hover {
    background-image: url("../img/pc/rushifa/movie_num_1_on.jpg");
    background-size: cover; }

.rushifa_movieArea__listItemLink02 {
  background-image: url("../img/pc/rushifa/movie_num_2_off.jpg"); }
  .rushifa_movieArea__listItemLink02:hover {
    background-image: url("../img/pc/rushifa/movie_num_2_on.jpg");
    background-size: cover; }

.rushifa_movieArea__listItemLink03 {
  background-image: url("../img/pc/rushifa/movie_num_3_off.jpg");
  border-right: 1px; }
  .rushifa_movieArea__listItemLink03:hover {
    background-image: url("../img/pc/rushifa/movie_num_3_on.jpg");
    background-size: cover; }

/*-- contentsArea --*/
.contentsArea {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

/*-- mixin introductionArea --*/
/* ダルタニャン introduction */
.darutanyan_introductionArea {
  display: block;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  background: -webkit-gradient(linear, left top, right top, from(#25d7fd),to(#1789fb));
  background: linear-gradient(to right, #25d7fd 0%,#1789fb 100%);
  padding: 105px 15px; }
  .darutanyan_introductionArea__title {
    background: url("../img/darutanyan/title_1.png") center top no-repeat;
    background-size: 100%;
    width: 420px;
    height: 58px;
    margin: 0 auto; }
  .darutanyan_introductionArea__text {
    font-size: 1.25vw;
    line-height: 2.2vw;
    color: #fff;
    max-width: 80%;
    margin: 50px auto 0;
    text-align: center; }
  .darutanyan_introductionArea__imgDarutanyan01 {
    background-image: url("../img/darutanyan/darutanyan_intro_img_01.png"); }
  .darutanyan_introductionArea__imgDarutanyan02 {
    background-image: url("../img/darutanyan/darutanyan_intro_img_02.png"); }

/* ルシファー introduction */
.rushifa_introductionArea {
  display: block;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  background: -webkit-gradient(linear, left top, right top, from(#e7168c),to(#821cca));
  background: linear-gradient(to right, #e7168c 0%,#821cca 100%);
  padding: 105px 15px; }
  .rushifa_introductionArea__title {
    background: url("../img/rushifa/title_1.png") center top no-repeat;
    background-size: 100%;
    width: 420px;
    height: 58px;
    margin: 0 auto; }
  .rushifa_introductionArea__text {
    font-size: 1.25vw;
    line-height: 2.2vw;
    color: #fff;
    max-width: 80%;
    margin: 50px auto 0;
    text-align: center; }
  .rushifa_introductionArea__imgRushifa01 {
    background-image: url("../img/rushifa/rushifa_intro_img_01.png"); }

/*-- mixin stafCastArea --*/
/* ダルタニャン stafCastArea */
.darutanyan_stafCastArea {
  display: block;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  background: url("../img/pc/darutanyan/bg_1.jpg") center top no-repeat;
  background-size: cover;
  padding: 105px 15px; }
  .darutanyan_stafCastArea__title {
    background: url("../img/pc/darutanyan/title_2.png") center top no-repeat;
    background-size: 100%;
    width: 370px;
    height: 57px;
    margin: 0 auto; }
  .darutanyan_stafCastArea__dllist {
    font-size: 1.25vw;
    line-height: 2.2vw;
    margin: 50px auto 0;
    text-align: center; }
  .darutanyan_stafCastArea__dllistTitle {
    margin: 40px 0 0;
    line-height: 3vw;
    font-size: 1.4vw; }
  .darutanyan_stafCastArea__dllistContents {
    margin: 0; }

/* ルシファー stafCastArea */
.rushifa_stafCastArea {
  display: block;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  background: url("../img/pc/rushifa/bg_2.jpg") center top no-repeat;
  background-size: cover;
  padding: 105px 15px; }
  .rushifa_stafCastArea__title {
    background: url("../img/pc/rushifa/title_2.png") center top no-repeat;
    background-size: 100%;
    width: 370px;
    height: 57px;
    margin: 0 auto; }
  .rushifa_stafCastArea__dllist {
    font-size: 1.25vw;
    line-height: 2.2vw;
    margin: 50px auto 0;
    text-align: center; }
  .rushifa_stafCastArea__dllistTitle {
    margin: 40px 0 0;
    line-height: 3vw;
    font-size: 1.4vw; }
  .rushifa_stafCastArea__dllistContents {
    margin: 0; }

/*-- アニメバナー --*/
.animeBannerArea {
  background: #f1f1f1;
  padding: 40px 0; }
  .animeBannerArea__img {
    display: block;
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
    background: url("../img/pc/official_top_bnr.png") center center no-repeat;
    background-size: 100%;
    width: 300px;
    height: 115px;
    margin: 0 auto; }

/*-- シェアエリア --*/
.shareArea {
  border-top: 1px solid #909090;
  border-bottom: 1px solid #909090;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .shareArea__item {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50px;
    -ms-flex: 0 0 50px;
    flex: 0 0 50px;
    width: 50px; }
  .shareArea__itemFacebook {
    display: block;
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
    background: url("../img/facebook.png") center center no-repeat;
    background-size: 11px 22px;
    width: 50px;
    height: 80px; }
  .shareArea__itemTwitter {
    display: block;
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
    background: url("../img/twitter.png") center center no-repeat;
    background-size: 19px 16px;
    width: 50px;
    height: 80px; }
  .shareArea__itemLine {
    display: block;
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
    background: url("../img/line.png") center center no-repeat;
    background-size: 22px 21px;
    width: 50px;
    height: 80px; }

/*-- footer --*/
.footerArea {
  text-align: center; }
  .footerArea__logo {
    margin: 48px 0 0; }
    .footerArea__logo img {
      width: 98px;
      height: auto; }
  .footerArea__copyright {
    color: #010101;
    font-size: 12px;
    margin: 20px 0 50px;
    font-style: normal; }

/*-- ナビゲーション --*/
.naviMenuArea {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  z-index: 102;
  display: none;
  overflow-y: scroll; }
  .naviMenuArea__menuClose {
    position: relative;
    width: 100%;
    height: 69px; }
  .naviMenuArea__menuCloseBtn {
    display: block;
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
    background: url("../img/menu_close.png") left top no-repeat;
    position: fixed;
    top: 40px;
    right: 40px;
    background-size: 45px 45px;
    width: 45px;
    height: 45px;
    pointer-events: auto; }
  .naviMenuArea__list {
    margin: 15px 0 0; }
  .naviMenuArea__listItem {
    margin: 20px 0 0; }
  .naviMenuArea__title {
    display: block;
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
    background: url("../img/menu_txt.png") left top no-repeat;
    background-size: 66px 19px;
    width: 66px;
    margin: 30px auto 0; }
  .naviMenuArea__listItemDarutanyan {
    display: block;
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
    background: url("../img/pc/menu_1.jpg") left top no-repeat;
    background-size: 640px 220px;
    width: 640px;
    height: 220px;
    margin: 0 auto;
    pointer-events: auto; }
  .naviMenuArea__listItemRushifa {
    display: block;
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
    background: url("../img/pc/menu_2.jpg") left top no-repeat;
    background-size: 640px 220px;
    width: 640px;
    height: 220px;
    margin: 0 auto;
    pointer-events: auto; }
  .naviMenuArea__listItemAnime {
    display: block;
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
    background: url("../img/pc/menu_3.jpg") left top no-repeat;
    background-size: 640px 220px;
    width: 640px;
    height: 220px;
    margin: 0 auto;
    pointer-events: auto; }

.contentsClose {
  display: none; }

.darutanyan_contentsCheck,
.rushifa_contentsCheck {
  display: none; }

/*-- 状態変更 jsで付与されるclass --*/
.STATE_showNavMenu {
  display: block;
  opacity: 1; }
