@charset "UTF-8";
/*   -   -   -   -   -   -   -   -   -   -   -   -   -   -   -   -   -   -   -   -   -   -   -   -   -   -   -   -   -   -   -   -   */
* {
  margin: 0;
  padding: 0; }

body {
  font-family: Verdana, Roboto, "Droid Sans","メイリオ",Meiryo, "游ゴシック","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HiraKakuPro-W3","ＭＳ Ｐゴシック","MS PGothic",Arial, Helvetica,sans-serif;
  /*font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;*/
  /*font-family: メイリオ, Meiryo, 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;*/ }

div, p, img, ul, li, dl, dt, dd,
h1, h2, h3, h4, h5, h6, a,
header, article, section, aside, nav, footer {
  border: 0;
  font-size: 100%;
  font-weight: normal; }

ul {
  list-style-type: none; }

html {
  width: 100%;
  height: 100%; }

body {
  width: 100%;
  height: auto;
  /*font-size: 62.5%;*/
  /* font-size 1em = 10px */
  font-size: 100%; }

a {
  text-decoration: none;
  color: #000; }

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none; }

small {
  font-family: Verdana,Arial,Geneva,Tahoma,sans-serif; }

/*   -   -   -   -   -   -   -   -   -   -   -   -   -   -   -   -   -   -   -   -   -   -   -   -   -   -   -   -   -   -   -   -   */
