@charset "UTF-8";


/*-- PCグローバル変数 --*/
$layoutType: PC;
$scale: 1;
$imagePathCommon: "../img/";
$imagePath: "../img/pc/";


/*-- PC共通extend --*/

/* movieArea リスト */
%movieAreaList {
    position: relative;
    display: block;
    flex: 0 0 33.33%;
    width: 33.33%;
}

/* movieArea リストリンク */
%movieAreaListLink {
    width: 100%;
    height: 100%;
    border: 1px solid #fff;
    border-right: 0;
    padding-top: 52%;
    display: block;
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* movieArea newIcon */
%movieNewIcon {
    display: block;
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
    background: url('#{$imagePath}new.png') left top repeat;
    width: 51px;
    height: 82px;
    position: absolute;
    bottom: 1px;
    right: 15px;
}

/* introductionArea image */
%introductionAreaImage {
    background-size: 100%;
    background-position: center top;
    background-repeat: no-repeat;
    width: 480px * $scale;
    height: 140px * $scale;
    margin: 60px auto 0;
}


/*-- PC共通mixin --*/

/* kvArea */
@mixin kvArea($bgImage) {
    position: relative;
    background: url('#{$imagePath}#{$bgImage}') center no-repeat;
    background-size: cover;
    display: block;
    width: 100%;
    height: auto;
    max-height: 750px;
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
    padding-top: 50%;

    &__title {
        text-indent: -100%;
    }
}

/* movieAreaItem */
@mixin movieAreaItem($bgImageOff, $bgImageOn) {
    @extend %movieAreaListLink;
    background-image: url('#{$imagePath}#{$bgImageOff}');

    &:hover {
        background-image: url('#{$imagePath}#{$bgImageOn}');
        background-size: cover;
    }
}

@mixin movieAreaItemComingSoon($bgImage) {
    @extend %movieAreaListLink;
    background-image: url('#{$imagePath}#{$bgImage}');
}

/* introductionArea */
@mixin introductionArea($bgGraduation, $bgTitle) {
	display: block;
	flex: 0 0 50%;
	background: #{$bgGraduation};
	padding: 105px 15px;

	&__title {
		background: url('#{$imagePathCommon}#{$bgTitle}') center top no-repeat;
		background-size: 100%;
		width: 420px * $scale;
		height: 58px * $scale;
		margin: 0 auto;
	}

	&__text {
		font-size: 1.25vw;
		line-height: 2.2vw;
		color: #fff;
		max-width: 80%;
		margin: 50px auto 0;
		text-align: center;
	}
}

/* stafCastArea */
@mixin stafCastArea($bgImage, $bgTitle) {
	display: block;
	flex: 0 0 50%;
	background: url('#{$imagePath}#{$bgImage}') center top no-repeat;
	background-size: cover;
	padding: 105px 15px;

	&__title {
		background: url('#{$imagePath}#{$bgTitle}') center top no-repeat;
		background-size: 100%;
		width: 370px * $scale;
		height: 57px * $scale;
		margin: 0 auto;
	}

	&__dllist {
		font-size: 1.25vw;
		line-height: 2.2vw;
		margin: 50px auto 0;
		text-align: center;
	}

	&__dllistTitle {
		margin: 40px 0 0;
		line-height: 3vw;
		font-size: 1.4vw;
	}

	&__dllistContents {
		margin: 0;
	}
}

/* shareBtn */
@mixin shareBtn($bgImage, $bgSize) {
	display: block;
	text-indent: 100%;
	overflow: hidden;
	white-space: nowrap;
	background: url('#{$imagePathCommon}#{$bgImage}') center center no-repeat;
	background-size: $bgSize;
	width: 50px;
	height: 80px;
}

/* navMenuItem */
@mixin navMenuItem($bgImage) {
	display: block;
	text-indent: 100%;
	overflow: hidden;
	white-space: nowrap;
	background: url('#{$imagePath}#{$bgImage}') left top no-repeat;
	background-size: 640px 220px;
	width: 640px;
	height: 220px;
	margin: 0 auto;
	pointer-events: auto;
}


/*-- style適用 --*/
body {
	overflow-y: scroll;
}


/*-- loading --*/
.loading {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #f1f1f1;
	z-index: 500;
	display: none;

	&__logo {
		background: url('#{$imagePathCommon}logo_loading.png') center no-repeat;
		background-size: 320px 107px;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		text-indent: -100%;
    }
}


/*-- header
.header {
	padding:40px 0;
	min-height:1px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	width: 100%;

	&__logo{
		text-indent: 100%;
		overflow: hidden;
		white-space: nowrap;
		background: url('#{$imagePathCommon}logo.png') left top no-repeat;
		background-size: 162px 60px;
		width: 162px;
		height: 60px;
		display: block;
		float: left;
		margin:0 0 0 34px;
	}

	&__menu{
		background:#ddd;
		border-radius:100px;
		width: 45px;
		height: 45px;
		float: right;
		margin: 0 40px 0 0;
		pointer-events: auto;
	}

	&__menuOpen{
		display: block;
		background: url('#{$imagePathCommon}menu.png') center no-repeat;
		background-size:100%;
		width: 100%;
		height: 100%;
	}

	&::after{
		content:" ";
		display:block;
		clear:both;
		height:0;
		visibility:hidden;
	}

}--*/


/*-- mixin kvArea --*/

/* ダルタニャン kv */
.darutanyan_kvArea {
	$bgImage: "darutanyan/main_v01.jpg";
	@include kvArea($bgImage);

	&__newsArea {
		position: absolute;
		bottom: 0;
		right: 0;
		background: url('#{$imagePath}darutanyan/header_news_bg.png') bottom left no-repeat;
		width: 609px;
		height: 310px;
		background-size: 609px 230px;
		padding: 0 0 0 200px;
	}

	&__newsAreaTxt {
		text-indent: 100%;
		overflow: hidden;
		white-space: nowrap;
		background: url('#{$imagePath}darutanyan/header_news_txt01.png') left top no-repeat;
		background-size: 100%;
		display: block;
		width: 354px;
		height: 310px;
		/* 0621の時の「制作の都合により〜の文言」が長いため調整用のcss */
		position: relative;
		top: 4px;
	}

}

/* ルシファー kv */
.rushifa_kvArea {
	$bgImage: "rushifa/main_v02.jpg";
	@include kvArea($bgImage);
}


/*-- mixin movieAreaItem --*/

/* ダルタニャン movieArea */
.darutanyan_movieArea {

	&__list {
		display: flex;
		width: 100%;
	}

	&__itemImgNewIcon {
		@extend %movieNewIcon;
	}

	&__listItem {
		@extend %movieAreaList;
	}

	&__listItemLink01 {
        $bgImage: "darutanyan/darutanyan_banner00.jpg";
        @include movieAreaItemComingSoon($bgImage);
		border-left: 0;
	}

	&__listItemLink02 {
		$bgImageOff: "darutanyan/darutanyan_banner01_off.jpg";
		$bgImageOn: "darutanyan/darutanyan_banner01_on.jpg";
		@include movieAreaItem($bgImageOff, $bgImageOn);
	}

	&__listItemLink03 {
		$bgImageOff: "darutanyan/darutanyan_banner02_off.jpg";
		$bgImageOn: "darutanyan/darutanyan_banner02_on.jpg";
		@include movieAreaItem($bgImageOff, $bgImageOn);
		border-right: 1px;
	}

}

/* ルシファー movieArea */
.rushifa_movieArea {

	&__list {
		display: flex;
		width: 100%;
	}

	&__listItem {
		@extend %movieAreaList;
	}

	&__itemImgNewIcon {
		@extend %movieNewIcon;
	}

	&__listItemLink01 {
		$bgImageOff: "rushifa/movie_num_1_off.jpg";
		$bgImageOn: "rushifa/movie_num_1_on.jpg";
		@include movieAreaItem($bgImageOff, $bgImageOn);
		border-left: 0;
	}

	&__listItemLink02 {
		$bgImageOff: "rushifa/movie_num_2_off.jpg";
		$bgImageOn: "rushifa/movie_num_2_on.jpg";
		@include movieAreaItem($bgImageOff, $bgImageOn);
	}

	&__listItemLink03 {
		$bgImageOff: "rushifa/movie_num_3_off.jpg";
		$bgImageOn: "rushifa/movie_num_3_on.jpg";
		@include movieAreaItem($bgImageOff, $bgImageOn);
		border-right: 1px;
	}
}


/*-- contentsArea --*/
.contentsArea {
	display: flex;
}


/*-- mixin introductionArea --*/

/* ダルタニャン introduction */
.darutanyan_introductionArea {
	$bgGraduation: "linear-gradient(to right, #25d7fd 0%,#1789fb 100%)";
	$bgTitle: "darutanyan/title_1.png";
	@include introductionArea($bgGraduation, $bgTitle);

	&__imgDarutanyan01 {
        @extend %introductionAreaImage;
		background-image: url('#{$imagePathCommon}darutanyan/darutanyan_intro_img_01.png');
	}

	&__imgDarutanyan02 {
        @extend %introductionAreaImage;
		background-image: url('#{$imagePathCommon}darutanyan/darutanyan_intro_img_02.png');
	}

}

/* ルシファー introduction */
.rushifa_introductionArea {
	$bgGraduation: "linear-gradient(to right, #e7168c 0%,#821cca 100%)";
	$bgTitle: "rushifa/title_1.png";
	@include introductionArea($bgGraduation, $bgTitle);

	&__imgRushifa01 {
        		@extend %introductionAreaImage;
		background-image: url('#{$imagePathCommon}rushifa/rushifa_intro_img_01.png');
	}

}


/*-- mixin stafCastArea --*/

/* ダルタニャン stafCastArea */
.darutanyan_stafCastArea {
	$bgImage: "darutanyan/bg_1.jpg";
	$bgTitle: "darutanyan/title_2.png";
	@include stafCastArea($bgImage, $bgTitle);
}

/* ルシファー stafCastArea */
.rushifa_stafCastArea {
	$bgImage: "rushifa/bg_2.jpg";
	$bgTitle: "rushifa/title_2.png";
	@include stafCastArea($bgImage, $bgTitle);
}


/*-- アニメバナー --*/
.animeBannerArea {
	background: #f1f1f1;
	padding: 40px 0;

	&__img {
		display: block;
		text-indent: 100%;
		overflow: hidden;
		white-space: nowrap;
		background: url('#{$imagePath}official_top_bnr.png') center center no-repeat;
		background-size: 100%;
		width: 300px;
		height: 115px;
		margin: 0 auto;
	}

}

/*-- シェアエリア --*/
.shareArea {
	border-top: 1px solid #909090;
	border-bottom: 1px solid #909090;
	display: flex;
	justify-content: center;
	align-items: center;

	&__item {
		flex: 0 0 50px;
		width: 50px;
	}

	&__itemFacebook {
		$bgImage: "facebook.png";
		$bgSize: 11px 22px;
		@include shareBtn($bgImage, $bgSize);
	}

	&__itemTwitter {
		$bgImage: "twitter.png";
		$bgSize: 19px 16px;
		@include shareBtn($bgImage, $bgSize);
	}

	&__itemLine {
		$bgImage: "line.png";
		$bgSize: 22px 21px;
		@include shareBtn($bgImage, $bgSize);
	}
}


/*-- footer --*/
.footerArea {
	text-align: center;

	&__logo {
		margin: 48px 0 0;

		img {
			width: 98px;
			height: auto;
		}
	}

	&__copyright {
		color: #010101;
		font-size: 12px;
		margin: 20px 0 50px;
		font-style: normal;
	}
}


/*-- ナビゲーション --*/
.naviMenuArea {
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
	z-index: 102;
	display: none;
	overflow-y: scroll;

	&__menuClose {
		position: relative;
		width: 100%;
		height: 69px;
	}

	&__menuCloseBtn {
		display: block;
		text-indent: 100%;
		overflow: hidden;
		white-space: nowrap;
		background: url('#{$imagePathCommon}menu_close.png') left top no-repeat;
		position: fixed;
		top: 40px;
		right: 40px;
		background-size: 45px 45px;
		width: 45px;
		height: 45px;
		pointer-events: auto;
	}

	&__list {
		margin: 15px 0 0;
	}

	&__listItem {
		margin: 20px 0 0;
	}

	&__title {
		display: block;
		text-indent: 100%;
		overflow: hidden;
		white-space: nowrap;
		background: url('#{$imagePathCommon}menu_txt.png') left top no-repeat;
		background-size: 66px 19px;
		width: 66px;
		margin: 30px auto 0;
	}

	&__listItemDarutanyan {
		$bgImage: "menu_1.jpg";
		@include navMenuItem($bgImage);
	}

	&__listItemRushifa {
		$bgImage: "menu_2.jpg";
		@include navMenuItem($bgImage);
	}

	&__listItemAnime {
		$bgImage: "menu_3.jpg";
		@include navMenuItem($bgImage);
	}

}

.contentsClose {
	display: none;
}

.darutanyan_contentsCheck,
.rushifa_contentsCheck {
	display: none;
}

/*-- 状態変更 jsで付与されるclass --*/
.STATE_showNavMenu {
	display: block;
	opacity: 1;
}