<div>
	あああああああああ
</div>
<header class="header">
		<h1 class="header__logo">モンストアニメ「モンソニ！」特設サイト</h1>
		<div class="header__menu">
			<a href="javascript:void(0);" class="header__menuOpen JS_open">メニュー</a>
		</div>
		<nav>
			<div class="naviMenuArea JS_navArea JS_navClose JS_navCloseBtn">
				<p class="naviMenuArea__menuClose">
					<a class="naviMenuArea__menuCloseBtn cnavCloseBtn" href="javascript:void(0);">メニューを閉じる</a>
				</p>
				<p class="naviMenuArea__title">MENU/モンソニ！MONSTER SONIC!</p>
				<ul class="naviMenuArea__list">
					<li class="naviMenuArea__listItem">
						<a class="naviMenuArea__listItemDarutanyan" href="#darutanyan">ダルタニャンのアイドル宣言</a>
					</li>
					<li class="naviMenuArea__listItem">
						<a class="naviMenuArea__listItemRushifa" href="#rushifa">センリツのルシファー</a>
					</li>
					<li class="naviMenuArea__listItem">
						<a class="naviMenuArea__listItemAnime" href="http://anime.monster-strike.com/" target="_blank">モンストアニメ</a>
					</li>
				</ul>
			</div>
		</nav>
</header>