
@charset "UTF-8";


/*-- グローバル変数 --*/
$layoutType:SP;
$imagePathCommon: "../img/";
$imagePath: "../img/sp/";
$scale: 0.5;


/*-- SP共通extend --*/

/* movieArea リスト */
%movieAreaList {
	display: block;
	width: 600px * $scale;
	height: 146px * $scale;
	margin: 0 auto 10px;
	position:relative;
}

/* movieArea newIcon */
%movieNewIcon {
	display: block;
	background: url('#{$imagePath}new.png') left top repeat;
	background-size: 100%;
	width: 35px;
	height: 55px;
	position: absolute;
	top: 14px;
	right: 10px;
}

/* 詳細を見る、閉じるボタン */
%contentsCheckBtn {
	display: block;
	width: 100%;
	height: 65px;
	line-height: 65px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 115.5px 23px;
}

/*-- SP共通mixin --*/

/* kvArea */
@mixin kvArea($bgImage) {
	position: relative;
	background: url('#{$imagePath}#{$bgImage}') center no-repeat;
	background-size: 100%;
	height:900px * $scale;
	text-indent: -9999px;
	overflow: hidden;
	white-space: nowrap;

	&__title {
		text-indent: 100%;
	}
}

/* movieAreaItem */
@mixin movieAreaItem($bgImage) {
	@extend %movieAreaList;
	background: url('#{$imagePath}#{$bgImage}') center top no-repeat;
	background-size: 100%;
}

/* introductionArea */
@mixin introductionArea($bgGraduation, $bgTitle) {
	background: #{$bgGraduation};
	padding: 52px 20px;

	&__title {
		background: url('#{$imagePathCommon}#{$bgTitle}') center top no-repeat;
		background-size: 100%;
		width: 420px * $scale;
		height: 58px * $scale;
		margin: 0 auto;
	}

	&__text {
		font-size: 0.75rem;
		line-height: 1.6em;
		color: #fff;
		margin: 30px auto 0;
		text-align: center;
	}
}

@mixin introductionAreaImg($bgImage) {
	background: url('#{$imagePathCommon}#{$bgImage}') center top repeat;
	background-size: 100%;
	width: 480px * $scale;
	height: 140px * $scale;
	margin: 37px auto 0;
}

/* stafCastArea */
@mixin stafCastArea($bgImage, $bgTitle) {
	background: url('#{$imagePath}#{$bgImage}') center center no-repeat;
	background-size: 100%;
	padding: 52px 20px;

	&__title {
		background: url('#{$imagePath}#{$bgTitle}') center top no-repeat;
		background-size: 100%;
		width: 370px * $scale;
		height: 57px * $scale;
		margin: 0 auto;
	}

	&__dllist {
		font-size: 0.75rem;
		line-height: 1.6em;
		margin: 30px auto 0;
		text-align: center;
	}

	&__dllistTitle {
		margin: 20px 0 0;
		line-height: 2;
		font-size: 1rem;
	}

	&__dllistContents {
		margin: 0;
	}
}

/* contentsCheckBtn */
@mixin contentsCheckBtn($bgGraduation) {
	background: #{$bgGraduation};

	&__btn {
		background-image: url('#{$imagePath}check_btn01.png');
		@extend %contentsCheckBtn;
	}
}

/* shareBtn */
@mixin shareBtn($bgImage, $bgSize) {
	display: block;
	text-indent: 100%;
	overflow: hidden;
	white-space: nowrap;
	background: url('#{$imagePathCommon}#{$bgImage}') center center no-repeat;
	background-size: $bgSize;
	width: 60px;
	height: 60px;
}

/* navMenuItem */
@mixin navMenuItem($bgImage) {
	display: block;
	text-indent: 100%;
	overflow: hidden;
	white-space: nowrap;
	background-image: url('#{$imagePath}#{$bgImage}');
	background-position: left top;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 110px;
	pointer-events: auto;
}


/*-- style適用 --*/
body {
	overflow-y: scroll;
}


/*-- loading --*/
.loading {
	display:none;
	z-index:101;
	position:fixed;
	top:0;
	left:0;
	background:#f1f1f1;
	width:100%;
	height:100%;


	&__logo {
		background: url('#{$imagePathCommon}logo_loading.png') center no-repeat;
		background-size:230px 77px;
		width:100%;
		height:100%;
		position:absolute;
		top:0;
		left:0;
		text-indent: -9999px;
	}
}


/*-- header --*/
.header {
	padding:10px 15px;
	min-height:1px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	width: 100%;

	&__logo {
		text-indent: 100%;
		overflow: hidden;
		white-space: nowrap;
		background: url('#{$imagePathCommon}logo.png') left top no-repeat;
		background-size: 81px 30px;
		width: 81px;
		height: 30px;
		display: block;
		float: left;
		margin:12px 0 0;
	}

	&__menu {
		background:#ddd;
		border-radius:100px;
		width: 45px;
		height: 45px;
		float: right;
		pointer-events: auto;
	}

	&__menuOpen {
		display: block;
		background: url('#{$imagePathCommon}menu.png') center no-repeat;
		background-size:100%;
		width: 100%;
		height: 100%;
	}

	&::after {
		content:".";
		display:block;
		clear:both;
		height:0;
		visibility:hidden;
	}
}


/*-- mixin kvArea --*/

/* ダルタニャン kv */
.darutanyan_kvArea {
	$bgImage: "darutanyan/darutanyan_main_v01.png";
	@include kvArea($bgImage);

	&__heading{
		background: url('#{$imagePath}darutanyan/heading.png') center top no-repeat;
		background-size: 100%;
		width: 527px * $scale;
		height: 159px * $scale;
		position:absolute;
	    top: 292px;
		left: 28px;
	}

	&__newsArea {
		background: url('#{$imagePath}darutanyan/news_bg.png') center top no-repeat;
		background-size: 100%;
		width: 640px * $scale;
		height: 207px * $scale;
		position: absolute;
		bottom: 0;
		left: 0;
		display: flex;
		align-items: center;
		padding: 25px 0 0;
	}

	&__newsAreaTxt {
		background: url('#{$imagePath}darutanyan/news_txt01.png') center top no-repeat;
		background-size: 100%;
		width: 640px * $scale;
		height: 128px * $scale;
		text-indent: 100%;
	}
}

/* ルシファー kv */
.rushifa_kvArea {
	$bgImage: "rushifa/rushifa_main_v01.png";
	@include kvArea($bgImage);
}


/*-- mixin movieArea --*/

/* ダルタニャン movieArea */
.darutanyan_movieArea {
	padding: 18px 0;
	background:#1e1e1e;

	&__itemImgNewIcon{
		@extend %movieNewIcon;
	}

	&__listItem {
		position: relative;
	}

	&__listItemLink02 {
		$bgImage: "darutanyan/darutanyan_banner01.png";
		@include movieAreaItem($bgImage);
	}

	&__listItemLink03 {
		$bgImage: "darutanyan/darutanyan_banner02.png";
		@include movieAreaItem($bgImage);
		margin: 0 auto;
	}

	&__listItemLink01{
		display:none;
	}

}

/* ルシファー movieArea */
.rushifa_movieArea {
	padding: 18px 0;
	background:#1e1e1e;

	&__itemImgNewIcon {
		@extend %movieNewIcon;
	}

	&__listItem {
		position: relative;
	}

	&__listItemLink01 {
		$bgImage: "rushifa/rushifa_banner01.png";
		@include movieAreaItem($bgImage);
	}

	&__listItemLink02 {
		$bgImage: "rushifa/rushifa_banner02.png";
		@include movieAreaItem($bgImage);
	}

	&__listItemLink03 {
		$bgImage: "rushifa/rushifa_banner03.png";
		@include movieAreaItem($bgImage);
		margin: 0 auto;
	}
}


/*-- mixin introductionArea --*/

/* ダルタニャン introductionArea */
.darutanyan_introductionArea {
	$bgGraduation: "linear-gradient(to right, #25d7fd 0%,#1789fb 100%)";
	$bgTitle: "darutanyan/title_1.png";
	@include introductionArea($bgGraduation, $bgTitle);

	&__imgDarutanyan01 {
		$bgImage: "darutanyan/darutanyan_intro_img_01.png";
		@include introductionAreaImg($bgImage);
	}

	&__imgDarutanyan02 {
		$bgImage: "darutanyan/darutanyan_intro_img_02.png";
		@include introductionAreaImg($bgImage);
	}
}

/* ルシファー introductionArea */
.rushifa_introductionArea {
	$bgGraduation: "linear-gradient(to right, #e7168c 0%,#821cca 100%)";
	$bgTitle: "rushifa/title_1.png";
	@include introductionArea($bgGraduation, $bgTitle);

	&__imgRushifa01 {
		$bgImage: "rushifa/rushifa_intro_img_01.png";
		@include introductionAreaImg($bgImage);
	}

}


/*-- mixin stafCastArea --*/

/* ダルタニャン stafCastArea */
.darutanyan_stafCastArea {
	$bgImage: "darutanyan/staf_cast_bg.png";
	$bgTitle: "darutanyan/title_2.png";
	@include stafCastArea($bgImage, $bgTitle);
}

/* ルシファ stafCastArea */
.rushifa_stafCastArea {
	$bgImage: "rushifa/staf_cast_bg.png";
	$bgTitle: "rushifa/title_2.png";
	@include stafCastArea($bgImage, $bgTitle);
}


/*-- mixin contentsCheckBtn --*/

/* ダルタニャン contentsCheckBtn */
.darutanyan_contentsCheck {
	$bgGraduation: "linear-gradient(to right, #25d7fd 0%,#1789fb 100%)";
	@include contentsCheckBtn($bgGraduation);
}

/* ルシファー contentsCheckBtn */
.rushifa_contentsCheck {
	$bgGraduation: "linear-gradient(to right, #e7168c 0%,#821cca 100%)";
	@include contentsCheckBtn($bgGraduation);
}

/* 詳細を閉じる */
.contentsClose {

	&__btn {
		background-color: #6b6b6b;
		background-image: url('#{$imagePath}close_btn01.png');
		@extend %contentsCheckBtn;
	}
}

.animeBannerArea {
	border-top: 1px solid #c3c3c3;
	margin: 18px 0 0;
	padding: 18px 10px;

	&__img {
		display: block;
		text-indent: 100%;
		overflow: hidden;
		white-space: nowrap;
		background: url('#{$imagePath}anime_monst_banner01.png') center center no-repeat;
		background-size: 300px 115px;
		width: 300px;
		height: 115px;
		margin: 0 auto;
	}

}


/*-- シェアエリア --*/
.shareArea {
	border-top: 1px solid #c3c3c3;
	border-bottom: 1px solid #c3c3c3;
	display: flex;
	justify-content: center;
	align-items: center;

	&__item {
		flex: 0 0 60px;
		width: 60px;
	}

	&__itemFacebook {
		$bgImage: "facebook.png";
		$bgSize: 11px 22px;
		@include shareBtn($bgImage, $bgSize);
	}

	&__itemTwitter {
		$bgImage: "twitter.png";
		$bgSize: 19px 16px;
		@include shareBtn($bgImage, $bgSize);
	}

	&__itemLine {
		$bgImage: "line.png";
		$bgSize: 22px 21px;
		@include shareBtn($bgImage, $bgSize);
	}
}


/*-- footer --*/
.footerArea {
	text-align: center;
	margin: 0 0 30px;

	&__logo {
		margin: 48px 0 0;

		img {
			width: 65px;
			height: auto;
		}
	}

	&__copyright {
		color: #010101;
		font-size: 9px;
		margin: 20px 0 0;
		font-style: normal;
	}
}


/*-- ナビゲーション --*/
.naviMenuArea {
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
	z-index: 102;
	transition: all 1s;
	display: none;
	overflow-y: scroll;

	&__menuClose {
		position: relative;
		width: 100%;
		height: 69px;
	}

	&__menuCloseBtn {
		display: block;
		text-indent: 100%;
		overflow: hidden;
		white-space: nowrap;
		background: url('#{$imagePathCommon}menu_close.png') left top no-repeat;
		position: absolute;
		top: 10px;
		right: 15px;
		background-size: 45px 45px;
		width: 45px;
		height: 45px;
		pointer-events: auto;
	}

	&__title {
		display: block;
		text-indent: 100%;
		overflow: hidden;
		white-space: nowrap;
		background: url('#{$imagePathCommon}menu_txt.png') left top no-repeat;
		background-size: 66px 19px;
		width: 66px;
		margin: 20px auto 0;
	}

	&__list {
		margin: 15px 0 30px;
	}

	&__listItem {
		margin: 5px 0 0;
	}

	&__listItemDarutanyan {
		$bgImage: "menu_darutanyan01.png";
		@include navMenuItem($bgImage);
	}

	&__listItemRushifa {
		$bgImage: "menu_rushifa01.png";
		@include navMenuItem($bgImage);
	}

	&__listItemAnime {
		$bgImage: "menu_monst01.png";
		@include navMenuItem($bgImage);
	}

}


/*-- 状態変更 jsで付与されるclass --*/
.STATE_showNavMenu {
	display: block;
	opacity: 1;
}

.STATE_btnNone {
	display: none;
}
